#drink {
	position: fixed;
	left: 40px;
	top: 40px;
	color: white;
	max-width: 55vw;
	font-family: Futura;
	z-index: 10;

	h1 {
		font-family: Lobster;
		font-size: 23vh;
		white-space: nowrap;
		letter-spacing: -0.01em;
		margin-left: -20px;
		margin-right: -125px;
	}
	
	p {
		font-size: 4.5vh;
		margin-top: 10px;
	}
	
	ul {
		display: block;
		margin-top: 30px;
		
		li {
			font-size: 2.75vh;
			opacity: 0.8;
			text-transform: uppercase;
			white-space: nowrap;
			display: inline;
			
			&::after { content: ', '; }
			&:last-child::after { content: ''; }
		}
	}

}
