#message {

	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 40%;
	color: white;
	text-shadow: 0 0 15px black;
	text-align: right;
	
	h1 {
		font-family: Lobster;
		font-size: 5em;
	}
	
	p {
		font-family: Futura;
		font-size: 2em;
	}
	
}