@import 'compass';
@import 'compass/reset';

body {
	padding: 5px;
}

button {
	-webkit-appearance: none;
	background-color: orange;
	border: none;
	padding: 20px;
	display: block;
	width: 100%;
	margin-bottom: 5px;
	font-size: 2em;
}

#volume {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(240,240,240,0.9);
	padding: 20px 10px;
	
	input {
		width: 100%;
	}
}